<div class="row">
    <div class="small-12 columns">
        <p class="text-center">
            <a href="#!read/5483419b70d77be5f4bb0763" class="button round">Run Fluffy Lawyer</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        <h1><i class="fa fa-child"></i> Who am I?</h1>
        <div class="row">
            <div class="small-3 columns">
                <img src="https://www.gravatar.com/avatar/5aa58baa21ae512b5d88cd27c6a3bd10?s=128&d=identicon&r=PG">
            </div>
            <div class="small-9 columns">
                <p>My name is Luis Arriojas and lead the "Neo" team during the Koding's hackathon.</p>
                <p>I am an U.S. citizen living in Venezuela and am trying to get a job after March 2015 in the San Francisco Bay Area.</p>
                <p>My experience with the programming world comes from 9th grade, during high school, I registered for a 9 months program of Application Development in a local college called FundaUC, studying Turbo Pascal and FoxPro. After that, I learned by myself Visual Basic and Access. In 2005, I start working as a Web Developer using LAMP stack and since 2012, use MEAN stack.</p>
                <p>Now, I have a BS in CS and MS in Web Engineering.</p>
                <p>
                    <a href="https://www.linkedin.com/in/luisarriojas">Read more about me on LinkedIn</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h1><i class="fa fa-stack-overflow"></i> Main skills</h1>
                <ul class="square">
                    <li>Front-End: HTML5, CSS3, JavaScript, jQuery and AngularJS.</li>
                    <li>Back-End: PHP, Node.js and Express.js.</li>
                    <li>Database development: MySQL, MongoDB and Redis.</li>
                    <li>Responsive Web Design and Zurb Foundation.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-6 columns">
        <div class="row">
            <div class="small-12 columns">
                <h1><i class="fa fa-cog"></i> What theme am I working?</h1>
                <p>I chose to work under the theme #3 and called this project "Fluffy Lawyer":</p>
                <p><cite>"No one reads the fine print (ie TOS, EULA, legal documents) anymore yet every site has them. Devise a creative/interactive solution.</cite>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <h1><i class="fa fa-space-shuttle"></i> What technologies does Fluffy Lawyer use?</h1>
                <ul class="square">
                    <li>Koding VM</li>
                    <li>Node.js and Express.js</li>
                    <li>MongoDB and Redis</li>
                    <li>AngularJS</li>
                    <li>Zurb Foundation</li>
                    <li>Font Awesome</li>
                </ul>
            </div>
        </div>
    </div>
</div>